body {
  background-image: url(assets/bg.jpg);
  background-color: white;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: left 0px top 180px; 
}

.slime img {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 48.5%;
  left: 0;
  transform: rotateY(180deg);
}

.intro h1 {
  font-size: 80px;
  color: darkcyan;
  position: absolute;
  left: 35%;
  top: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#buttonDiv {
  text-align: center;
  display: inline-block;
  width: 40%;
  position: absolute;
  left: 28%;
  top: 70%;
}

#startGameBtn {
  background-color: darkcyan;
  color: white;
  border: 3px solid darkcyan;
  width: 500px;
  font-weight: 800;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
